<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title></head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="chart-container">FusionCharts XT will load here!</div>
        </div>
    </div>

</div>
<script src="/jslib/jquery-3.3.1.min.js"></script>
<script src="/jslib/moment-with-locales.min.js"></script>
<script src="/jslib/fusioncharts/js/fusioncharts.js"></script>
<script src="/jslib/fusioncharts/js/themes/fusioncharts.theme.fusion.js"></script>
<script type="text/javascript" src="/jslib/jquery-utils.js"></script>
<link rel="stylesheet" href="/jslib/bootstrap-4.3.1-dist/css/bootstrap.css">
<link rel="stylesheet" href="/jslib/frappe/frappe-gantt.css">
<script type="text/javascript" src="/jslib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/apps/gantt.js"></script>
</body>
</html>