<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Home Page</title></head>
<body>
Login <input type="text" id="login" name="login" />
Senha <input type="password" id="password" name="password" />

<button id="btn-login">Login</button>

</body>
<script src="/jslib/jquery-3.3.1.min.js"></script>

<script type="application/javascript">
    $(document).ready(function () {
        if(sessionStorage.auth){
            var httpHeaders = { 'Authorization' : sessionStorage.auth };
            new Headers(httpHeaders);
        }


        $('#btn-login').on('click', function () {
            var obj = {
                'username': $('#login').val(),
                'password': $('#password').val(),
            };
            console.log('Teste',JSON.stringify(obj));
            $.ajax({
                method: "POST",
                url: "/login",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                processData: false,
                success: function(data, textStatus, request){
                    console.log('teste1');
                    sessionStorage.setItem('auth',request.getResponseHeader('authorization'));
                    window.location = window.location+"default/gantt";
                },
                error: function (request, textStatus, errorThrown) {
                    //alert('Erro ao logar');
                    console.log('teste2',errorThrown);
                }
            });
        });
        listBooks();

    });
</script>
</html>