<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Home Page</title></head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>

<table id="dynamicTable"></table>


Book title: <input id="book-title">
Book author: <input id="book-author">

<button id="btn-save">Save</button>

</body>
<script src="jquery-3.3.1.min.js"></script>

<script type="application/javascript">
    function listBooks() {
        $.ajax({
            method: "GET",
            dataType: "json",
            url: "/api/books"
        }).done(function (response) {
            var inHTML = "";
            $.each(response, function(index, value){
                var newItem = "<tr>" +
                    "<td>"+ value.title + "</td>" +
                    "<td>"+ value.author + "</td>" +
                    "</tr>";
                inHTML += newItem;
            });

            $("table#dynamicTable").html(inHTML);
        });
    }

    $(document).ready(function () {
        $('#btn-save').on('click', function () {
            var obj = {
                id: $('#book-id').val(),
                title: $('#book-title').val(),
                author: $('#book-author').val()
            };
            console.log(obj);
            $.ajax({
                method: "POST",
                dataType: "json",
                url: "/api/books",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj)
            })
            .done(function (response) {
                    alert("Livro Salvo");
                listBooks();
            });
        });
        listBooks();

    });
</script>
</html>